body{
    margin: 0;
    padding: 0;
    background: #1F232E;
    position: relative;
    z-index: 1;
    font-family: "Rubik", serif;
}
body:before{
    content: '';
    background: url('../img/bg.png')  no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 1000px;
    position: absolute;
    top: -30px;
    left: 0;
    z-index: -1;
}

body *{
    box-sizing: border-box;
}
h1,h2,h3,h4,p,ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.df{
    display: flex;
}
.a-center{
    align-items: center;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
.banner{
    margin-top: 30px;
    margin-bottom: 20px;
}
.banner img{
    width: 100%;
    object-fit: cover;
}
.navbar{
    height: 80px;
    border-radius: 10px;
    background: rgba(17,21,31,90%);
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}
.nav-logo{
    margin-right: 55px;
}
.menu{
    gap: 43px;
}
.menu-link{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}
.login{
    margin-left: auto;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.block-title{
    width: 100%;
    height: 114px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: rgba(17,21,31,90%);
    margin-bottom: 20px;
    flex-direction: column;
}
.title{
    font-size: 32px;
    font-weight: 800;
    color: #fff;
    padding-left: 30px;

}
.gide-list{
    gap: 20px;
}
.gide-item{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 342px;

}
.gide-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.event-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gide-title{
    position: absolute;
    top: 30px;
    left: 30px;
    max-width: 180px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
}
.page-block{
    margin-bottom: 40px;
}
.event-list{
    gap: 20px;
}
.event-item{
    height: 342px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.event-info{
    position: absolute;
    left: 30px;
    bottom: 30px;
}
.event-title{
    color: #fff;
    font-size: 24px;
    font-weight: 800;

}
.event-type{
    height: 22px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 500;
    width: fit-content;
    color: #fff;
}
.upcoming{
    background: rgba(21,141,154, 0.75);
}
.closed{
    background: rgba(239,65,37, 0.75);
}
.active{
    background: rgba(84,239,37, 0.75);
}
.text{
    color: #CCCCCC;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 500;
    padding-left: 30px;
}
.rating{
    position: relative;
}
.rating-list{
    width: 100%;
}
.rating-item{
    height: 342px;
    width: calc(100%/3 - 10px);
    background: rgba(17,21,31,90%);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.rating-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper{
    width: 100%;
    height: 100%;
}
.page-aside{
    width: 315px;
}
.page-section{
    width: calc(100% - 335px);
}
.rating-number{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 49px;
    height: 49px;
    display: flex;
    border-radius: 100%;
    font-size: 24px;
    font-weight: 900;
    color: #fff;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.2);
    font-family: "Inter", serif;
}
.rating-info{
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.user-name{
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}
.user-id{
    color: #D9D9D9;
    font-size: 16px;
    font-weight: 500;
}
.swiper-button-next{
    position: absolute;
    right: 30px;
    top: 50px;
    width: 40px;
    height: 40px;
    background: url('../img/arrow.svg') no-repeat;
}
.swiper-button-prev{
    position: absolute;
    right: 80px;
    left: auto;
    top: 50px;
    width: 40px;
    height: 40px;
    background: url('../img/arrow.svg') no-repeat;
    transform: rotate(180deg);
}
.swiper-button-next:after{
    display: none;
}
.swiper-button-prev:after{
    display: none;
}
.news-item{
    width: 315px;
    height: 342px;
    background: rgba(17,21,31,90%);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.news-list{
    gap: 20px;
}
.news-item--large{
    width: calc(100% - 335px);
}
.news-title{
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;

}
.news-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.site-info{
    background: rgba(17,21,31,90%);
    border-radius: 10px;
    padding: 50px 30px 30px;
}
.site-info h2{
    font-size: 32px;
    color: #fff;
    margin-bottom: 11px;
    font-weight: 900;
}
.site-info p{
    color: #D9D9D9;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 140%;
}
main{
    margin-bottom: 60px;
}
.footer-container{
    background: rgba(17,21,31,90%);
    border-radius: 10px;
    padding: 40px 30px 30px;
    margin-bottom: 30px;
}
.footer-top{
    justify-content: space-between;
    margin-bottom: 107px;
}
.footer-socials{
    gap: 10px;
}
.social-item{
    width: 48px;
    height: 48px;
    border-radius: 5px;
    background: #3C495F;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer-bottom div{
    display: flex;
    justify-content: space-between;
}
.footer-bottom a{
    font-size: 16px;
    color: #CCCCCC;
}
.footer-bottom p{
    font-size: 12px;
    color: #CCCCCC;
    margin-top: 20px;
    padding-right: 18px;
}
main .container{
    gap: 20px;
}
.aside-block{
    border-radius: 10px;
    background: rgba(17, 21, 31, 90%);
    margin-bottom: 20px;
    padding: 20px;
}
.aside-block .title{
    font-size: 24px;
    padding-left: 0;
    margin-bottom: 10px;
}
.aside-block .text{
    padding-left: 0;
    font-weight: 400;
}
.user-success div{
    width: 100%;
    height: 10px;
    border-radius: 51px;
    background: rgba(255,255,255, .21);
    position: relative;
    margin-bottom: 7px;
}
.user-success div .success{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 51px;
    background: #545E72;
}
.user-success p{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 16px;
}
.btn-primary{
    height: 55px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #3C495F;
    font-weight: 600;
    margin-top: 14px;
}
.block-img img{
    width: 100%;
    object-fit: cover;
}
.mob-menu{
    display: none;
}
.f-wrap{
    flex-wrap: wrap;
}
.news-page .news-item{
    width: calc(100%/2 - 11px);
}
.pagination-block{
    width: 100%;
    border-radius: 10px;
    padding: 25px 30px;
    background: rgba(17, 21, 31, 0.9);
    gap: 10px;
}
.show-more{
    color: rgba(162, 168, 168, 1);
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
}
.current-page{
    margin-left: auto;
    color: rgba(217, 217, 217, 1);
    font-size: 14px;
    border: 1px solid rgba(41, 49, 63, 1);
    height: 30px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.all-pages{
    color: rgba(217, 217, 217, 1);
    font-size: 14px;
}
.pagination-item{
    background: rgba(41, 49, 63, 1);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.pagination-item .prev, .pagination-item .next{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination-item .prev svg{
    transform: rotate(180deg);
}
.pagination-item.disabled{
    opacity: .5;
}
.title span{
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter", serif;
}
.gide-info{
    background: rgba(17, 21, 31, 0.9);
    color: #fff;
    border-radius: 10px;
    padding: 30px;
}
.gide-info-title{
    gap: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.btn-arrow{
    background: transparent;
    margin-left: auto;
    border: none;
    cursor: pointer;
}
.gide-info-text{
    margin-top: 30px;

}
.gide-info-text p{
    font-weight: 700;
    font-size:18px;
    line-height: 21px;
}
ol{
    padding-left: 30px;
}
ol li{
    margin-bottom: 5px;
    color: rgba(217, 217, 217, 1);
    font-size: 16px;
    font-weight: 400;
}
.btn-arrow-close{
    transform: rotate(180deg);
}
.page-event{
    background: rgba(17, 21, 31, 0.9);
    color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 60px;
}
.page-event img{
    width: 100%;
    margin: 0 auto 30px;

}
.page-event .event-title{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 15px;
}
.page-event p{
    color: rgba(217, 217, 217, 1);
    margin-bottom: 20px;


}
.event-text h3{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.profile-left{
    width: 397px;
}
.profile-left img{
    width: 100%;
}
.profile{
    gap: 20px;
}
.profile-right{
    width: calc(100% - 417px);
}
.page-profile{
    background: rgba(17, 21, 31, 0.9);
    color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}
.profile-title{
    font-size: 32px;
}
.profile-title span{
    font-weight: 400;
}
.profile{
    background: rgba(17, 21, 31, 0.9);
    color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}
.profile-row{
    margin-bottom: 12px;
    gap: 10px;
}
.profile-row:last-child{
    margin-bottom: 0;
}
.profile-row-name{
    color: rgba(192, 192, 192, 1);
    font-size: 14px;
    white-space: nowrap;
}
.profile-row-value{
    font-size: 14px;
    white-space: nowrap;
    display: flex;
    gap: 5px;
    align-items: center;
}
.line{
    width: 100%;
    border: 1px dashed rgba(54, 59, 70, 1);
    margin-bottom: 0;
}
.profile-actions{
    margin-top: 28px;
    justify-content: space-between;
    gap: 20px;
}
.profile-actions .btn{
    margin-top: 5px;
    width: 100%;
    font-size: 14px;
    color: rgba(192, 192, 192, 1);
    font-weight: 300;
    text-align: left;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    gap: 7px;
    height: 37px;
}
.profile-actions div{
    width: 100%;
}
.profile-actions p{
    color: rgba(192, 192, 192, 1);
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
}
.profile-actions .btn span:nth-child(1){
    margin-left: auto;
}
.profile-table{
    background: rgba(17, 21, 31, 0.9);
    color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}
.table{
    width: 100%;
}
.table-head{
    background: rgba(55, 63, 79, 1);
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.table-col{
    font-size: 16px;
    color: rgba(243, 243, 243, 1);

}
.table-row{
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
}
.table-row:nth-child(2n){
    background: rgba(28, 34, 47, 1);

}
.table-col-name{
    width: 24%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.table-col-name img{
    width: 40px;
    height: 40px;
}
.table-col-kills{
    width: 13%
}
.table-col-dead{
    width: 13%
}
.table-col-home{
    width: 20%
}
.table-col-home{
    width: 20%
}
.table-col-status{
    width: 7%
}

.table-row .table-col{
    color: rgba(192, 192, 192, 1);

}
.table-row .table-col.table-col-name{
    color: #fff;
}
.table-row .table-col-status-online{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}
.online{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: rgba(140, 215, 74, 1);
    display: block;
}
.table-row .table-col-status{
    font-size: 14px;
}
.profile-table .pagination-block{
    padding: 0;
    background: none;
    margin-top: 30px;
    margin-bottom: 20px;
}
.table-row .table-col.table-col-name span{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 20px;
}
/*------ Landing style ------*/

.ceo{
    background: #11131A;
    padding-top: 140px;
    padding-bottom: 140px;
}
.ceo img{
    max-width: 100%;
}
.ceo-title{
    font-family: Rubik,serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;

}
.ceo-text{
    font-family: Rubik,serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-align: left;
    color: #d9d9d9;
}
.ceo-text p{
    margin-bottom: 20px;
}
.ceo-text p:last-child{
    margin-bottom: 50px;
}
.landing main{
    margin-bottom: 0;
}
.landing footer{
    background: #11131A;
    padding-bottom: 40px;
}
.landing .footer-container{
    background: transparent;
    padding: 0;
    margin-bottom: 0;
}
.play-banner{
    background: url('../img/landing/bg1.png') no-repeat;
    max-width: 1440px;
    margin: 0 auto;
}
.play-banner-right{
    flex-direction: column;
}
.j-center{
    justify-content: center;
}
.play-banner-right h2{
    font-family: Rubik;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
    text-align: left;
    color: #fff;
    max-width: 558px;
    margin-bottom: 20px;
}
.play-banner-right h2 span{
    color: #D4260F;
}
.play-banner-right p{
    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-align: left;
    color: #dddddd;
    margin-bottom: 70px;
    max-width: 610px;
}
.btn-red{
    background: #D4260F;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #ffffff;
    height: 54px;
    max-width: 240px;
    border-radius: 10px;
    width: 100%;

}
.play-banner-left{
    display: flex;
    align-items: flex-end;
}
.socials{
    padding-top: 150px;
    padding-bottom: 140px;

}
.landing{
    background: linear-gradient(180deg, rgba(17, 19, 26, 0) 0%, rgba(17, 19, 26, 0.7) 3.12%, #11131A 7.24%, #11131A 100%);

}
.social-list{
    gap: 20px;
    margin-top: 50px;
}
.socials-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    border: 2px solid #2C3040;
    border-radius:10px;
    background: #161D2B;
}
.socials-item:nth-child(2){
    background: #16232B;
}
.socials-item:nth-child(3){
    background: #2B1616;
}
.socials-title{
    text-align: center;
    font-family: Rubik, serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #ffffff;
    margin-bottom: 7px;
}
.social-text{

    font-family: Rubik, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
}
.process-title{
    font-family: Rubik,serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
}
.process-list{
    gap: 20px;
}
.process-right{
    gap: 20px;
}
.process{
    padding-top: 150px;
}
.gides{
    padding-top: 150px;
}
.gides-title{
    font-family: Rubik,serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
}
.gides .gide-title{
    top: auto;
    left: 30px;
    bottom: 30px;
    font-weight: 700;
    font-size: 24px;
}
.gides .gide-item{
    width: 100%;
    height: 380px;
    font-size: 24px;
}
.notification{
    max-width: 650px;
    margin: 0 auto;
    background: #1f2941;
    border: 1px solid #5b6e90;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    position: relative;
}
.notification:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
    background: url('../img/landing/12.png');
}
.notification h2{
    font-family: Rubik,serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 15px;
}
.notification p{
    font-family: Rubik,serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #dddddd;
    margin-bottom: 7px;
}
.notification p:last-child{
    margin-bottom: 0;
}
.btn-auto{
    width: 225px;
    height: 54px;
    padding: 15px 20px;
    background: rgb(74,91,121);
    background: linear-gradient(180deg, rgba(74,91,121,1) 0%, rgba(102,122,156,1) 100%);
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(24, 12, 7, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Rubik,serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    gap: 10px;
    margin: 50px auto 40px;
}

.daily-roulette > h2{
    font-family: Rubik,serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 80px;
}
.daily-roulette-item{
    width: 200px;
    height: 160px;
    border-radius: 10px;
    background: #161d2b;
    display: flex;
    align-items: center;
    justify-content: center;
}
.daily-roulette-list{
    padding-top: 15px;
}
.daily-roulette-list:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: url('../img/landing/22.png') no-repeat;
    z-index: 999999;
    top: 0px;
}
.play-item{
    height: 98px;
    width: 100%;
    margin-bottom: 20px;
    background: #1f2941;
    padding: 20px 30px;
    border-radius: 20px;
    gap: 20px;
}
.play-item:last-child{
    margin-bottom: 0;
}
.landing:before{
    background: url('../img/landing/bg5.png') no-repeat;
    height: 1300px;
    background-size: 100% 100%;
}
.play-info h4{
    font-family: Rubik;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 5px;
}
.play-info p{
    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: #dddddd;

}
.play-actions{
    gap: 20px;
    align-items: center;
    margin-left: auto;
}
.play-actions .btn-red{
    width: 225px;
    gap: 20px;
}

.btn-outline{
    border: 2px solid #5b6e90;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(24, 12, 7, 0.2);
    height: 54px;
    font-family: Rubik;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
}
.how-to-play h2{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    font-family: Rubik;
    color: #ffffff;
}
.how-to-play{
    padding-top: 140px;
    background: url('../img/landing/bg6.png') no-repeat;
    background-size: cover;
    padding-bottom: 140px;
}
.group-item{
    width: 315px;
    height: 375px;
    background: #0a1427;
    padding: 30px;
    border-radius: 20px;
}
.group-list{
    justify-content: center;
    gap: 20px;
    margin-bottom: 140px;
}
.group-item h4{
    font-family: Inter;
    font-weight: 900;
    font-size: 24px;
    text-align: left;
    color: #ffffff;
}
.group-item h4 span{
    font-size: 16px ;
    font-weight: 400;
}
.line{
    font-size: 20px;
    font-weight: 500;
}
.landing-banner-item{
    width: 100%;
    height: 510px;
    position: relative;
}
.landing-banner-item img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 1s ease-in-out;
}
.landing-banner-item img:nth-child(2) {
    opacity: 0;
}
.landing-banner-item:hover img:first-child, .hover img:first-child  {
    opacity: 0;
}
.landing-banner-item:hover img:nth-child(2), .hover  img:nth-child(2)  {
    opacity: 1;
}
.landing-banner-item:hover .play{
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    border: 9px solid #fff;
    width: 74px;
    height: 74px;
    bottom: 154px;
}
.caption{
   opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.landing-banner-item:nth-child(3) .caption{
    bottom: 55px;
    opacity: 1;
}
.caption h2{
    font-family: Rubik;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
    color: #ffffff;
}
.caption p{
    font-family: Rubik;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #ffffff;
}
.landing-banner-item:hover .caption, .hover .caption{
    opacity: 1;
}
.play{
    width: 65px;
    height: 65px;
    background: url('../img/landing/play.svg') no-repeat;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 159px;
    transition: border  1s ease-in-out;
    border-radius: 100%;
    background-position: center;
    cursor:pointer;
}
.navbar .btn-red{
    margin-left: auto;
    width: 192px;

}
.path{
    padding-top: 183px;
    padding-bottom: 200px;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}
.path:before{
    content: '';
    max-width: 424px;
    max-height: 416px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url('../img/landing/26.png') no-repeat;
    transition: background 0.5s ease-in-out;
}
.path.left:before{
    background: url('../img/landing/26-hover.png') no-repeat;

}
.path:after{
    content: '';
    max-width: 403px;
    max-height: 416px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background 0.5s ease-in-out;

    background: url('../img/landing/6.png') no-repeat;
}
.path.right:after{
    background: url('../img/landing/6-hover.png') no-repeat;

}
.path-title{
    font-family: Rubik;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.4;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
}
.path-text{
    max-width: 511px;
    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #dddddd;
    margin: 0 auto;
}
.path-actions{
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.path-actions .btn-outline{
    width: 220px;
    transition: background-color 0.3s ease-in-out;
}
.path-actions .btn-outline:hover{
    background: #D4260F;
    border-color: #D4260F;
}
.counter{
    position: relative;
}

.counter-content{
    background: url('../img/landing/bg4.png') no-repeat;
    border-radius: 20px;
    min-height: 533px;
    gap: 61px;
}
.counter-content-right{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.counter-content-right h2{
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
    text-align: left;
    color: #fff;
    margin-bottom: 20px;
    max-width: 438px;
}
.counter-content-right h2 span{
    color: #D4260F;
}
.counter-content-right p{
    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-align: left;
    max-width: 579px;
    color: #dddddd;
    margin-bottom: 20px;

}
.countdown p{
    margin-bottom: 10px;
    font-family: Rubik;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    text-align: left;
    color: #ffffff;

}
.countdown div{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #fff;
    gap: 7px;
    margin-bottom: 65px;
}
.countdown span{
    width: 100px;
    height: 79px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    text-align: left;
    color: #ffffff;
    opacity: 0.8;
    overflow: hidden;
}
.countdown span:before{
    content: '';
    height: 39px;
    width: 100px;
    background: #0F131C;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.countdown span:after{
    content: '';
    height: 39px;
    width: 100px;
    background: #0F131C;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.group-item:first-child{
    background: url('../img/landing/27.png') no-repeat;
}
.group-item:last-child{
    background: url('../img/landing/28.png') no-repeat;
}
.group-item h4{
    margin-bottom: 15px;
}
.group-item .user-success div .success{
    background: rgb(128,145,173);
    background: linear-gradient(180deg, rgba(128,145,173,1) 0%, rgba(193,210,239,1) 100%);
}
.landing header{
    padding-top: 40px;
}
.landing .navbar{
    margin-bottom: 60px;
}